* {
    margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }

body { 

    background-color: teal;

}

#container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
h1 {

    font-size: xx-large;
    font-weight: bolder;
}

#top-board {
    height: 35vh;
    width: 35vh;
    display: grid;
    border: 4px solid goldenrod;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(10, 1fr);
}
.top-square {
    border: 1px solid sienna;
    background-color: tomato;
    width: 100%;
    height: 100%;
}

.top-square:hover {

    background-color: rgb(145, 59, 43);

}

#bottom-board {
    height: 35vh;
    width: 35vh;
    display: grid;
    border: 4px solid goldenrod;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.bottom-square {
    border: 1px solid sienna;
    background-color: rgb(44, 80, 23);
    width: 100%;
    height: 100%;
}

.bottom-square:hover {

    background-color: rgb(145, 59, 43);

}

.struck-empty-square {

    background-color: black;
}

.struck-ship {

    background-color: red;
}

#move-announcer {

    
}